# .coveragerc (root)

[run]
branch = True
relative_files = True
# parallel = True
# concurrency = multiprocessing

source =
    packages/plainera_core/src/plainera_core
    packages/plainera_observability/src/plainera_observability
    packages/plainera_unacronym/src/plainera_unacronym
    services/unacronym_api/src/public_api
    src/plainera_core
    src/plainera_observability
    src/plainera_unacronym
    src/public_api

[paths]
plainera_core =
    packages/plainera_core/src/plainera_core
    */packages/plainera_core/src/plainera_core
    src/plainera_core

plainera_unacronym =
    packages/plainera_unacronym/src/plainera_unacronym
    */packages/plainera_unacronym/src/plainera_unacronym
    src/plainera_unacronym

#public_api =
#    services/unacronym_api/src/public_api
 #   */services/unacronym_api/src/public_api
  #  src/public_api

[report]
show_missing = True
skip_covered = False
fail_under = 80
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise NotImplementedError
    assert False
    if 0:
    if __name__ == .__main__.:
exclude_also =
    ^\s*@\w+
    ^\s*if TYPE_CHECKING:

[html]
